<div class="d-flex justify-content-center align-items-center" style="background: rgb(255, 228, 154); height: 300px;">
    <div class="container">
        <div class="row">
            <div class="col-8 d-flex flex-row justify-content-center align-items-center">
                <h1 class="display-1">
                    <b>GDATool</b>
                </h1>
            </div>
            <div class="col-4 d-flex flex-row justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-primary" [routerLink]="['/logIn']">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background: rgb(255, 228, 154); height: 60px;">
    <div class="container pb-5">
        <div class="row">
            <div class="col-sm d-flex flex-row justify-content-center align-items-center">
                <div class="card mt-2 mb-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Accessible</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm d-flex flex-row justify-content-center align-items-center">
                <div class="card mt-2 mb-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Automatic</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm d-flex flex-row justify-content-center align-items-center">
                <div class="card mt-2 mb-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Scalable</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>