<div class="d-flex justify-content-center align-items-center"
    style="background: url(../../assets/flat_design_landscape.png) no-repeat center center /cover; height:350px;">
    <div class="container">
        <div class="row">
            <div class="col-8 d-flex flex-row justify-content-center align-items-center">
                <h1 class="display-1">
                    <b class="text-white" style="text-shadow: 0px 0px 7px #000000;">GDATool</b>
                </h1>
            </div>
            <div class="col-4 d-flex flex-row justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center ">
                    <button type="button" class="btn btn-light shadow-lg" [routerLink]="['/logIn']">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background: rgb(46,17,45); height: 60px;">
    <div class="container pb-5">
        <div class="row">
            <div class="col-sm d-flex flex-row justify-content-center align-items-center">
                <div class="card mt-2 mb-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Accessible</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Expands the user base</h6>
                        <p class="card-text">
                            A user friendly web insterface makes the product easy to use. Within a few clicks data is
                            takes from raw tables to insightful dashboards
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm d-flex flex-row justify-content-center align-items-center">
                <div class="card mt-2 mb-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Automatic</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Reduces operation costs</h6>
                        <p class="card-text">
                            Atomation reduces the manpower necessary to make the system function, both at the server and
                            client level, thus reducing operation costs
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm d-flex flex-row justify-content-center align-items-center">
                <div class="card mt-2 mb-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Scalable</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Reduces develpment costs</h6>
                        <p class="card-text">Scalability features ensure the system can always support customers with
                            more data and more specific analytic insights demands</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Word Maps</h2>
        <hr>
        <div class="row pb-4">
            <div class="col d-flex flex-row justify-content-center align-items-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </div>
            <div class="col">
                <img src="../../assets/word_map.png" class="img-fluid" alt="Word map image">
            </div>
        </div>
        
        <h2>Pie Charts</h2>
        <hr>
        <div class="row pb-4">
            <div class="col">
                <img src="../../assets/pie_chart.png" class="img-fluid" alt="Word map image">
            </div>
            <div class="col d-flex flex-row justify-content-center align-items-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </div>
        </div>
    </div>
</div>