<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['']">GDATool</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Features</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
            <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
    </div>
</nav>

<div class="container pt-5 pb-5">
    <h1 class="text-center mb-5">
        GDATool
    </h1>

    <div class="container">
        <div class="row">
            <div class="col-sm d-flex flex-row justify-content-center align-items-center">
                <div class="card mt-2 mb-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Accessible</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm d-flex flex-row justify-content-center align-items-center">
                <div class="card mt-2 mb-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Automatic</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm d-flex flex-row justify-content-center align-items-center">
                <div class="card mt-2 mb-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Scalable</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary" [routerLink]="['/logIn']">Log in</button>
        </div>
    </div>
</div>