<div class="card {{cardColor}} mb-4" style="width: 20rem;">
    <div class="card-header border-0">
        <div class="d-flex align-items-center">
            <div>
                <a class="card-title h5" [routerLink]="['/jobDetailsPage', job._id]"
                    style="margin: 0%">{{job.description}}</a>
            </div>
            <div class="ml-auto">
                <div *ngIf="pending" class="spinner-border-sm spinner-border text-warning" role="status"
                    aria-hidden="true"></div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5>Status:</h5>

        <div class="row">
            <div class="col-8">
                <span class="badge badge-white p-1">1. Job Details</span>
            </div>
            <div class="col-4">
                <span class="badge badge-success p-1">Done</span>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <span class="badge badge-white p-1">2. Data Upload</span>
            </div>
            <div class="col-4">
                <span class="badge badge-warning p-1">In progress</span>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <span class="badge badge-white p-1">3. Schema specification</span>
            </div>
            <div class="col-4">
                <span class="badge badge-danger p-1">To do</span>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <span class="badge badge-white p-1">4. Aggregation specification</span>
            </div>
            <div class="col-4">
                <span class="badge badge-danger p-1">To do</span>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <span class="badge badge-white p-1">5. Execute</span>
            </div>
            <div class="col-4">
                <span class="badge badge-danger p-1">To do</span>
            </div>
        </div>

        <!-- <div *ngFor="let run of jobRuns">
            <app-run [run]="run"></app-run>
        </div> -->
    </div>

    <div class="card-footer border-0">
        <a [routerLink]="['/dashboardPage', job._id]" class="card-link">Go to Dashboard</a>
    </div>
</div>