<app-top-navbar></app-top-navbar>

<div class="container p-5">
    <h2>Job details: {{job.name}}</h2> 
    <hr>
    <form>
        <div class="form-group">
            <label for="inputEmail4">Name</label>
            <input type="email" class="form-control" id="inputEmail4" value={{job.name}}>
        </div>
        <div class="form-group">
            <label for="inputPassword4">Description</label>
            <input type="text" class="form-control" id="inputPassword4" value={{job.description}}>
        </div>
        <div class="form-group">
            <label for="inputAddress">Job Status</label>
            <input type="text" class="form-control" id="inputAddress" value={{job.jobStatus}}>
        </div>

        <label>Runs</label>
        <ul *ngFor="let run of job.runs">
            <li>Started: {{run.timeStarted}} Status: {{run.runStatus}}</li>
        </ul>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>