<app-top-navbar></app-top-navbar>

<div class="container p-5">
    <h2>Create job</h2>
    <hr>

    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 40%"></div>
    </div>
    <div class="row">
        <div class="col text-center">
            <span class="badge badge-success">Details</span>
        </div>
        <div class="col text-center">
            <span class="badge badge-success">Upload</span>
        </div>
        <div class="col text-center">
            <h3><span class="badge badge-warning">Schema</span></h3>
        </div>
        <div class="col text-center">
            <span class="badge badge-danger">Query</span>
        </div>
        <div class="col text-center">
            <span class="badge badge-danger">Execute</span>
        </div>
    </div>

    <hr>

    <div *ngIf=schemaFileIsPresent>
        <div class="container">
            <div class="row">
                <!-- Feature column -->
                <div class="col-md text-center">
                    <label><b>Features</b></label>
                    <div *ngFor="let column of SELECTED_FEATURES">
                        <div class="container border border-secondary mb-2 bg-light rounded">
                            <div class="row justify-content-center align-items-center">
                                <div class="col">
                                    <div class="col">
                                        <div class="row justify-content-center">
                                            <span>{{column[0]}}</span>
                                        </div>
                                        <div class="row justify-content-center">
                                            <span class="font-weight-light">{{column[1]}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs">
                                    <button class="btn btn-success m-1"
                                        (click)="moveColumn($event, column, SELECTED_FEATURES, COLUMNS)">
                                        &gt;
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Unselected column -->
                <div class="col-md text-center">
                    <label><b>Columns</b></label>
                    <div *ngFor="let column of COLUMNS">
                        <div class="container border border-secondary mb-2 bg-light rounded">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-xs">
                                    <button [disabled]="SELECTED_FEATURES.includes(column)" class="btn btn-success m-1"
                                        (click)="moveColumn($event, column, COLUMNS, SELECTED_FEATURES)">
                                        &lt;
                                    </button>
                                </div>
                                <div class="col">
                                    <div class="col">
                                        <div class="row justify-content-center">
                                            <span>{{column[0]}}</span>
                                        </div>
                                        <div class="row justify-content-center">
                                            <span class="font-weight-light">{{column[1]}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs">
                                    <button [disabled]="column[1] != 'double' || SELECTED_METRICS.includes(column)" class="btn btn-success m-1"
                                        (click)="moveColumn($event, column, COLUMNS, SELECTED_METRICS)">
                                        &gt;
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Metric column -->
                <div class="col-md text-center">
                    <label><b>Metrics</b></label>
                    <div *ngFor="let column of SELECTED_METRICS">
                        <div class="container border border-secondary mb-2 bg-light rounded">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-xs">
                                    <button class="btn btn-success m-1"
                                        (click)="moveColumn($event, column, SELECTED_METRICS, COLUMNS)">
                                        &lt;
                                    </button>
                                </div>
                                <div class="col">
                                    <div class="col">
                                        <div class="row justify-content-center">
                                            <span>{{column[0]}}</span>
                                        </div>
                                        <div class="row justify-content-center">
                                            <span class="font-weight-light">{{column[1]}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf=!schemaFileIsPresent>
        <label for="name">Run the data inference job with the following arguments</label>
        <input type="text" class="form-control" disabled value="{{job.userId}} {{job._id}}">
    </div>

    <hr>

    <div class="row">
        <div class="col text-left">
            <button class="btn btn-primary" [routerLink]="['/jobsPage']" [disabled]="ioIsDisabled">Save and Exit</button>
            <button class="btn btn-danger ml-2" (click)="deleteJob()" [disabled]="ioIsDisabled">Delete Job</button>
        </div>
        <div class="col text-right">
            <button class="btn btn-primary" (click)="next()" [disabled]="ioIsDisabled || SELECTED_METRICS.length <= 0 || SELECTED_FEATURES.length <= 0">Next</button>
        </div>
    </div>
</div>