<app-top-navbar></app-top-navbar>

<div class="container p-5">
    <h2>Create job</h2>
    <hr>
    <form class="was-validated" #userForm="ngForm" (ngSubmit)="createJob()">
        <div class="form-group">
            <label for="name"><b>Name</b></label>
            <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="job.name"
                #name="ngModel">
        </div>
        <div class="form-group">
            <label for="description"><b>Description</b></label>
            <input type="text" class="form-control" id="description" name="description" [(ngModel)]="job.description"
                #description="ngModel">
        </div>

        <div class="form-group">
            <label><b>Upload Dataset</b></label>
            <div class="custom-file">
                <!-- <input type="file" class="custom-file-input" id="customFile" name="rawInputDirectory"
                    [(ngModel)]="job.rawInputDirectory"> -->
                <input type="file" class="custom-file-input" id="customFile" name="rawInputDirectory">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>

        <div class="form-group">
            <label><b>Aggregations</b></label>
            <div class="">
                <input class="" type="checkbox" value="" id="defaultCheck1" name="customAggregations"
                    [(ngModel)]="customAggregations">
                <label class="" for="defaultCheck1">Custom Aggregations</label>
            </div>

            <div class="shadow p-3 mb-3 bg-white rounded" *ngIf="customAggregations">
                <label><b>Current aggregations</b></label>
                <div class="pl-2">
                    <button class="btn btn-light m-1" *ngIf="aggregations.length == 0" disabled>
                        No aggregations selected
                    </button>
                </div>

                <ul class="pl-2 list-group">
                    <li style="list-style-type:none" *ngFor="let agg of aggregations">
                        <!-- <div class="row"> -->
                        <!-- <div class="col-md-10 align-self-center">
                                <p class="mb-0">{{agg.name}} + {{agg.aggs}} + {{agg.featureColumns}} +
                                    {{agg.metricColumn}}</p>
                            </div>

                            <div class="col-md-2 text-right">
                                <button type="button" class="btn btn-danger">X</button>
                            </div> -->

                        <button type="button" (click)="deleteAggregation($event, agg)" class="btn btn-light m-1">
                            {{agg.name}}: [{{agg.aggs}}] on [{{agg.metricColumn}}] by [{{agg.featureColumns}}]
                            <span class="badge badge-danger">X</span>
                        </button>
                        <!-- </div> -->
                    </li>
                </ul>

                <hr>

                <form class="mt-3" (ngSubmit)="createAggregation()">
                    <label><b>Add new Aggregation</b></label>
                    <div class="form-row">
                        <!-- Name -->
                        <div class="form-group col-md-6">
                            <label for="aggregationName">Name</label>
                            <input type="text" class="form-control" id="aggregationName" name="aggregationName"
                                placeholder="Name" [(ngModel)]="currentAggregationName" #aggregationName="ngModel">
                        </div>
                        <!-- Metric Column -->
                        <div class="form-group col-md-6">
                            <label for="metricSelector">Metric Column</label>
                            <select id="metricSelector" class="form-control" name="metricSelector"
                                [(ngModel)]="currentAggregationMetricColumn" #metricSelector="ngModel">
                                <option selected>Choose one</option>
                                <option *ngFor="let sCol of possibleMetricColumns">{{sCol}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <!-- Feature Columns -->
                        <div class="form-group col-md-6">
                            <label for="featureCols">Feature Columns</label>
                            <select #featureDevice (change)="addElement($event, featureDevice.value, 'featureColumn')"
                                id="featureCols" class="form-control">
                                <option selected>Choose</option>
                                <option *ngFor="let sCol of possibleFeatureColumns">{{sCol}}</option>
                            </select>
                            <hr>
                            <button class="btn btn-light m-1" *ngIf="selectedFeatureColumns.length == 0" disabled>
                                No aggregations selected
                            </button>
                            <button (click)="removeElement($event, sCol, 'featureColumn')" class="btn btn-light m-1"
                                *ngFor="let sCol of selectedFeatureColumns">{{sCol}}
                                <span class="badge badge-danger">X</span>
                            </button>
                        </div>
                        <!-- Aggregations -->
                        <div class="form-group col-md-6">
                            <label for="aggregationCols">Aggregations</label>
                            <select #AggregationDevice
                                (change)="addElement($event, AggregationDevice.value, 'aggregation')"
                                id="aggregationCols" class="form-control">
                                <option selected>Choose</option>
                                <option *ngFor="let sCol of possibleAggs">{{sCol}}</option>
                            </select>
                            <hr>
                            <button class="btn btn-light m-1" *ngIf="selectedAggregations.length == 0" disabled>
                                No aggregations selected
                            </button>
                            <button (click)="removeElement($event, sCol, 'aggregation')" class="btn btn-light m-1"
                                *ngFor="let sCol of selectedAggregations">{{sCol}}
                                <span class="badge badge-danger">X</span>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col text-left">
                            <button
                                [disabled]="currentAggregationName == '' || currentAggregationMetricColumn == 'Choose one' || selectedAggregations.length == 0 || selectedFeatureColumns.length == 0"
                                type="submit" class="btn btn-primary">Add Aggregation</button> </div>
                        <div class="col text-right">
                            <label class="text-danger"
                                *ngIf="currentAggregationName == '' || currentAggregationMetricColumn == 'Choose one' || selectedAggregations.length == 0 || selectedFeatureColumns.length == 0">Incomplete
                                form</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col col text-left">
                <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">Create</button>
            </div>
            <div class="col text-right">
                <button type="button" class="btn btn-danger">Back</button>
            </div>
        </div>
    </form>
</div>